.user-info {
  color: #ffffff;
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: bold;
}

.username {
  font-size: 16px;
}

.balance {
  font-size: 14px;
  background-color: #198754;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
}
